/* over write css */
.color-bg{
background: linear-gradient(120deg , rgba(2,0,36,0.969625350140056) 0%, rgba(9,9,121,0.9752275910364145) 24%, rgba(3,141,208,1) 67%, rgba(0,212,255,1) 100%);
}
.border-4{
    border-bottom: 4px solid #1B4681;
    padding-bottom: 6px;
 }
 .font-14{
     font-size: 15px;
     font-weight: normal;
     text-transform: capitalize;
 }
.dropdown:hover>.dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: -1px;
    border-top: 4px solid orange;
    font-family: 'Roboto Slab', serif;
    background-color: #165171;
    border-radius: 2px;
    font-size: 14px;
}
.dropdown-item {
    color:#fff ;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
    color:#fff;
    padding: 14px 8px;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}
.navbar-light .navbar-toggler {
    color:#fff;
     border-color:transparent;
}
.navbar-light .navbar-nav .nav-link:focus{
 color: orange;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:#9EB7C5;
}
.navbar-brand{
    width: 50px;
    height: 50px;
}
.navbar-brand>img{
    width: 100%;
    height: 100%;
}
/* carousel-item */
.carousel-inner>.carousel-item{
    max-height: 450px;
}
.carousel-inner>.carousel-item>img{
    width: 100%;
    height: 420px;
}

.principal-img>img{
    width: 120px;
    height: 120px;
}
#gallery-section{
    padding: 22px 0;
}
.gallery{
    position: relative;
}
.photo-view{
    position: absolute;
    top:50%;
    width: 40px;
    height: 40px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(0,0,0,0.4);
    z-index: 9999;
    display: none;
    border-radius: 50%;
}
.gallery:hover>.photo-view{
    display: block;
}
.photo-view>.eye{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: #fff;
    transition: 0.4s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.photo-view:hover>.eye{
    color: teal;
}
.footer-top{
    background-color: #165374;
}
.contact{
    font-weight: normal;
    color: #fffff6;
}

/* teacher-info */
.card-img-top>img{
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
.other-section{
    background-color:#F6F6F6 ;
}
.link{
    color: #028243;
    line-height: 26px;
}
.link:hover{
text-decoration: none;
color: #F6E959;
}
.other-item{
    min-height: 224px;
    max-height: inherit;
}
.other-item h4{
    border-bottom: 1px dotted #ddd;
    padding-bottom: 10px;
}
.enovets img{
    max-width: 100%;
    height: auto;
}
.enovet li{
    color: #666666;
}
.table{
    color: #545b62;
}
.table th {
    padding: 12px;
    text-align: center;
    background-color: #165374;
    color: #fff;
}
.table td{
    padding: 12px 4px;
    text-align: center;
    font-weight: 500;
}
.notice-link,.notice-link:hover{
    color: #028243;
    text-decoration: none;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: orangered;
    border-bottom: 3px solid orangered;
}
    .btn.btn-round {
        border-radius: 30px;
    }

    .card-profile {
        margin-top: 85px;
        text-align: center;
    }

    .card-profile .card-avatar {
        max-width: 140px;
        max-height: 140px;
    }

    .card-profile .card-avatar {
        margin: -65px auto 0;
        border-radius: 50%;
        overflow: hidden;
        padding: 0;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    .description,
    .card-description,
    .footer-big p {
        color: #999999;
    }

    .card-avatar img {
        vertical-align: middle;
        text-align: center;
        width: 140px;
        height: 140px;
    }

    .btn.btn-primary {
        color: #fff;
        background-color: #9c27b0;
        border-color: #9c27b0;
        text-transform: uppercase;
        padding: 6px 22px;
    }

    .btn.btn-primary:hover {
        box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
    }





    /* student pages style */
    .student-item {
        width: 200px;
        height: auto;
        margin: 16px 8px;
    }

    .student-icon {
        width: 120px;
        height: 120px;
        background: #165374;
        border-radius: 50%;
        padding: 20px;
        margin: auto;
    }

    .bg-color {
        border: 1px solid;
        border-top-color: blueviolet;
        border-bottom-color: brown;
        border-left-color: #0E4455;
        border-right-color: orangered;
        transition: 0.05s;
    }

    .bg-color:hover {
        border: 1px dotted orangered;
        background-color: #eee;
        margin-top: -5px;
    }

    .student-icon>.styicon {
        width: 100%;
        height: 100%;
        color: #fff;
    }

    .text-gray {
        color: #999999 !important;
    }
    .font{
        font-family: 'Roboto Slab', serif;
    }

    .d-name {
        font-family: 'Roboto Slab', serif;
        color: #117a8b;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    .txt-sm {
        font-weight: 300;
        font-size: 13px;
    }

@media screen and (max-width: 920px) {
            .carousel-inner>.carousel-item>img {
                height: 260px;
    }
}
@media screen and (max-width: 600px) {
    .carousel-inner>.carousel-item>img {
                height: 160px;
        }
}
@media screen and (max-width: 480px) {
    .carousel-inner>.carousel-item>img {
        height: 160px;
    }
}